@charset "utf-8";
@import url(../css/html5reset-1.6.1.css); /*reset css*/

/* common */
.inner {
  width: calc(100% - 40px);
  max-width: 980px;
  /*width: 980px;*/
  margin: auto;
  padding: 80px 0;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}
#header .inner, #top .inner {
  padding: 0;
}
* {
  color: #333333;
}
h1 {
  font-family: Times,'Times New Roman',serif;
  font-style: bold;
  font-size: 30px;
  text-align: center;
}
h2, p, dl{
  font-family: "ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho",serif;
}
h2 {
  font-size: 24px;
  line-height: 48px;
}
p {
  font-size: 18px;
  line-height: 36px;
}
a {
  text-decoration: none;
  font-family: Times,'Times New Roman',serif;
}
@media screen and (max-width: 768px) {
  .inner {
    padding: 30px 0;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  p {
    font-size: 12px;
    line-height: 24px;
    text-align: center;
  }
}

/* header */
#header {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  opacity: 0.8;
  z-index: 900;
}
#header .inner {
  position: relative;
  z-index: 901;
}
#header #global_nav {
  display: none;
}
#header a#header_logo {
  display: block;
  font-size: 34px;
  line-height: 34px;
  font-weight: bold;
  position: absolute;
  z-index: 902;
  top: 23px;
}
#header .toggle_btn {
  display: block;
  width: 45px;
  height: auto;
  position: absolute;
  z-index: 903;
  right: 0;
  top: 27px;
}
#header .toggle_btn div {
  position: relative;
}
#header .toggle_btn div span{
  width: 100%;
  height: 3px;
  background: #707070;
  position: absolute;
}
#header .toggle_btn div span:nth-child(1){
  top: 0;
}
#header .toggle_btn div span:nth-child(2){
  top: 13px;
}
#header .toggle_btn div span:nth-child(3){
  top: 26px;
}
@media screen and (max-width: 768px) {
  #header {
    height: 40px;
  }
  #header a#header_logo {
    font-size: 20px;
    line-height: 20px;
    top: 10px;
  }
  #header .toggle_btn {
    width: 20px;
    right: 0;
    top: 12px;
  }
  #header .toggle_btn div span:nth-child(2){
    top: 8px;
  }
  #header .toggle_btn div span:nth-child(3){
    top: 16px;
  }
}

/* top */
#top {
  display: block;
  width: 100%;
  height: 650px;
  position: relative;
  background: url(../img/Top.jpg);
  background-size: cover;
}
#top .inner {
  height: 650px;
  position: relative;
}
#top h1#top_logo {
  display: block;
  font-size: 72px;
  line-height: 72px;
  color: #FFFFFF;
  position: absolute;
  bottom: 50px;
}
@media screen and (max-width: 768px) {
  #top {
    height: 280px;
  }
  #top .inner {
    height: 280px;
    position: relative;
  }
  #top h1#top_logo {
    font-size: 44px;
    line-height: 44px;
    bottom: 17px;
  }
}

/* about */
#about {
  display: block;
  width: 100%;
  height: auto;
  background: #FFFFFF;
}
#about .inner {
  position: relative;
}
#about img#about_img {
  display: block;
  width: 50%;
  margin: 50px 0 0;
}
#about .about_content {
  display: block;
  width: calc(50% - 40px);
  min-width: 430px;
  position: absolute;
  top: 180px;
  right: 0;
}
#about .about_content p {
  display: block;
  margin-top: 40px;
}
@media screen and (max-width: 940px) {
  #about .about_content {
    min-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  #about img#about_img {
    display: none;
  }
  #about .about_content {
    position: static;
    width: 100%;
    min-width: 0;
    margin-top: 20px;
  }
  #about .about_content p {
    margin-top: 20px;
  }
}

/* news */
#news {
  display: block;
  width: 100%;
  background: #E5E5E5;
}
#news dl dt, #news dl dd{
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 8px;
}
#news dl {
  display: block;
  width: 77%;
  max-width: 362px;
  min-width: 322px;
  margin: 50px auto 0;
}
#news dl dt {
  float: left;
}
#news dl dd {
  width: 75%;
  max-width: 270px;
  min-width: 230px;
  float: right;
  border-left: 2px solid #777777;
  padding-left: 14px;
}
@media screen and (max-width: 768px) {
  #news dl {
    margin: 30px auto 0;
  }
  #news dl dt, #news dl dd{
    font-size: 9px;
    line-height: 9px;
    margin-bottom: 4px;
  }
}

/* items */
#items {
  display: block;
  width: 100%;
  background: #FFFFFF;
}
.items_contents {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.items_content {
  display: block;
  width: 33.3%;
  margin-bottom: 40px;
  position: relative;
}
.items_content img{
  display: block;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  margin: 0 auto;
}
.items_contents .items_content:nth-of-type(3n+1) img {
  margin: 0 auto 0 0;
}
.items_contents .items_content:nth-of-type(3n+2) img {
  margin: 0 auto;
}
.items_contents .items_content:nth-of-type(3n+3) img {
  margin: 0 0 0 auto;
}
.items_content a {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 50px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 0;
  background: rgb(255,255,255,0.4);
  padding-top: 10px;
}
.items_contents .items_content:nth-of-type(3n+1) a {
  left: 0;
}
.items_contents .items_content:nth-of-type(3n+2) a {
  left: calc(50% - 150px);
}
.items_contents .items_content:nth-of-type(3n+3) a {
  right: 0;
}
a#all_items_link {
  display: block;
  text-decoration: underline;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin-left: 20px; 
}
@media screen and (max-width: 940px) {
  .items_contents .items_content:nth-of-type(3n+2) a {
    left: 0;
  }
  .items_contents .items_content:nth-of-type(3n+3) a {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .items_contents {
    margin-top: 30px;
  }
  .items_content {
    width: 50%;
    margin-bottom: 0;
  }
  .items_content img{
    max-width: 364px;
    max-height: 364px;
  }
  .items_content a {
    max-width: 364px;
    height: 30px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 5px;
  }
  a#all_items_link {
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 10px; 
  }
}
/* styles */
#styles {
  display: block;
  width: 100%;
  background: #E2E2E2;
}
#styles .inner {
  padding-bottom: 0;
}
#styles .styles_slider {
  width: 100%;
  height: auto;
  margin: 50px auto 0;
}
.slider_1 {
  display: inline-block;
  width: 100%;
  height: auto;
}
.slider_1 img {
  display: block;
  width: 100%;
  height: 705px;
  object-fit: cover;
  margin: 0 auto;
}
/* flickity custom */
#styles .flickity-page-dots {
  bottom: 20px;
}
#styles .flickity-page-dots .dot {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: transparent;
  border: 1px solid #FFFFFF;
}
#styles .flickity-page-dots .dot.is-selected {
  background: #FFFFFF;
}
@media screen and (max-width: 940px) {
  .slider_1 img {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  #styles .inner {
    width: 100%;
  }
  #styles .styles_slider {
    margin: 30px auto 0;
  }
  .slider_1 img {
    height: 600px;
  }
}

/* shop */
#shop {
  display: block;
  width: 100%;
  background: #FFFFFF;
}
#shop .shop_contents {
  display: block;
  width: 100%;
  margin-top: 50px;
  position: relative;
}
#shop .shop_contents img {
  display: block;
  width: calc(50% - 36px);
  max-width: 480px;
  height: auto;
  object-fit: cover;
}
#shop .shop_contents dl {
  display: block;
  width: 50%;
  max-width: 490px;
  position: absolute;
  top: 26px;
  right: 0;
}
#shop .shop_contents dl dt, #shop .shop_contents dl dd{
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
}
#shop .shop_contents dl dt {
  width: calc (29% - 2px);
  height: 48px;
  float: left;
}
#shop .shop_contents dl dd {
  width: 71%;
  float: right;
  border-left: 2px solid #777777;
  padding-left: 43px;
}
#shop .shop_contents dl dt:nth-of-type(2) {
  height: 24px;
}
@media screen and (max-width: 940px) {
  #shop .shop_contents img {
    max-width: 414px;
    margin-bottom: 30px;
  }
  #shop .shop_contents dl {
    max-width: 450px;
    min-width: 168px;
  }
  #shop .shop_contents dl dt, #shop .shop_contents dl dd{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5px;
  }
  #shop .shop_contents dl dt {
    height: 30px;
  }
  #shop .shop_contents dl dt:nth-of-type(2) {
    height: 15px;
  }
}
@media screen and (max-width: 768px) {
  #shop .shop_contents {
    margin-top: 30px;
  }
  #shop .shop_contents img {
    width: 100%;
    max-width: 100%;
    height: 220px;
  }
  #shop .shop_contents dl {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: static;
  }
  #shop .shop_contents dl dd {
    width:  calc(68% - 20px);
    padding-left: 20px;
  }
  #shop .shop_contents dl dt {
    width: calc(32% - 22px);
    padding-right: 20px;
    min-width: 48px;
    text-align: right;
  }
  #shop .shop_contents dl dt:nth-of-type(1) {
    width: calc(32% - 46px);
    padding-right: 44px;
    min-width: 48px;
  }
}

/* sns links */
#sns_links {
  display: block;
  width: 100%;
  height: 300px;
  background: #E7B9D9;
}
#sns_links .inner {
  padding: 0;
}
#sns_links .sns_icons {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
}
#sns_links .sns_icons a {
  display: block;
  width: 20%;
  font-size: 60px;
  text-align: center;
  margin-top: 120px;
}
#sns_links .sns_icons a i {
  color: #FFFFFF;
}
@media screen and (max-width: 940px) {
  #sns_links {
    height: 150px;
  }
  #sns_links .sns_icons a {
    font-size: 40px;
    margin-top: 55px;
  }
}
@media screen and (max-width: 768px) {
  #sns_links {
    height: 80px;
  }
  #sns_links .sns_icons a {
    font-size: 20px;
    margin-top: 30px;
  }
}

/* footer */
#footer {
  display: block;
  width: 100%;
  height: 40px;
  background: #9B4882;
}
#footer h1 {
  font-size: 12px;
  line-height: 40px;
  font-weight: normal;
  color: #FFFFFF;
}